{
	"env": {
		"browser": true,
		"node": true
	},
	"parser": "babel-eslint",
	"extends": "airbnb",
	"plugins": ["react", "jsx-a11y", "import"],
	"rules": {
	"space-in-parens": "off",
	"object-curly-spacing": "off",
	"quotes": "off",
	"arrow-body-style": ["warn", "as-needed"],
	"react/jsx-pascal-case": "off",
	"camelcase": "off",
	"react/jsx-curly-spacing": "off",
	"max-len": "off",
	"no-multiple-empty-lines": "off",
	"import/newline-after-import": "off",
	"padded-blocks": "off",
	"no-irregular-whitespace": "warn",
	"react/jsx-first-prop-new-line": "off",
	"no-multi-spaces": "off",
	"react/jsx-closing-bracket-location": "off",
	"no-spaced-func": "off",
	"no-unexpected-multiline": "off",
	"global-require": "off",
	"react/jsx-boolean-value": "off",
	"eol-last": "off",
	"quote-props": "off",
	"semi": "off",
	"import/imports-first": "warn",
	"vars-on-top": "warn",
	"block-scoped-var": "warn",
	"no-var": "warn",
	"no-unused-vars": "warn",
	"no-nested-ternary": "warn",
	"prefer-arrow-callback": "off",
	"operator-assignment": "warn",
	"no-continue": "off",
	"prefer-template": "warn",
	"react/jsx-filename-extension": "off",
	"react/prefer-stateless-function": "warn",
	"react/jsx-indent": "off",
	"no-tabs": "off",
	"indent": "off",
	"comma-dangle": "warn",
	"no-console": "off",
	"import/prefer-default-export": "off",
      "import/extensions": "off",
      "no-trailing-spaces": "off",
      "jsx-a11y/alt-text": "off",
      "react/jsx-indent-props": "off",
      "no-lone-blocks": "off",
      "block-spacing": "off",
      "react/prop-types": "warn",
      "jsx-a11y/click-events-have-key-events": "off",
      "jsx-a11y/no-static-element-interactions": "off",
      "function-paren-newline": "off",
      "react/no-array-index-key": "warn"
	}
}
